# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefile's created dependencies
bin/
.deps/

# Custom files
config_script_args
include/rts/rts_includes.h
include/mogslig/mogslib.h

#Python directories
__pycache__/
